.costum-ikon {
            width: 24px;
            height: 24px;
            background-image: url('https://www.flaticon.com/free-icon/add_3992722');
            background-size: cover;
            display: inline-block;
        }